
@{
    ViewBag.Title = "加值服務管理";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}
<style>
    .moneyicon {
            font-size: 80px;
        }
</style>
<h2>甚麼是加值服務？</h2>
<br />
<p>如果您想讓自己的店面有更多的曝光，被更多的玩家看見，可以申請我們的加值服務。當申請有桌方遊的加值服務，可以獲得以下的追加功能：</p>
<p>1.開啟數據分析頁面，可觀察經由有桌方遊進行訂位的來店客群的統計圖表。</p>
<p>2.店面的活動廣告追加首頁曝光。</p>
<p>3.您的店家資訊在店家列表及玩家開團的店家選擇列表中會優先排前。</p>
<hr />
<h2>如何開啟加值服務？</h2>
<br />
<p>要開啟有桌方遊的加值服務，有以下兩個管道：</p>
<p>1.規劃與本資訊網合作之限定優惠券，符合門檻的優惠券通過審核後，便可開啟一個月的加值服務。</p>
<p>2.提供三篇新增的桌遊資料，資料確認無誤正式公開後，會開啟一個月的加值服務。</p>
<p>3.進行付費儲值：</p>
<div class="container">
    <table class="table  bg-transparent table-info table-bordered text-center">
        <tr class="moneyicon ">
            <td><i class="fas fa-coins"></i></td>
            <td><i class="fas fa-money-bill-wave"></i></td>
            <td><i class="fas fa-money-check-alt"></i></td>
        </tr>
        <tr class="h4">
            <td>1個月</td>
            <td>6個月</td>
            <td>12個月</td>
        </tr>
        <tr class="h4">
            <td>99元</td>
            <td>499元<span class="badge badge-danger ml-2">Sale</span></td>
            <td>999元<span class="badge badge-danger ml-2">Sale</span></td>
        </tr>
    </table>
</div>
