
@{
    ViewBag.Title = "ShopPasswordChange";
}

<h2>ShopPasswordChange</h2>
<form method="post" action="~/Shop/ShopPasswordChange">
    <input id="Text1" type="hidden" value="@ViewBag.ID" name="id"/>
    <div>
        <span>舊密碼</span>
        <input id="Text1" type="text" name="pwd" />
    </div>
    <div>
        <span>新密碼</span>
        <input id="Text1" type="text" name="newpwd" />
    </div>
    <div>
        <span>新密碼確認</span>
        <input id="Text1" type="text" name="pwdrepeat" />
    </div>
    <input id="Submit1" type="submit" value="submit" />
    <div>@ViewBag.Error</div>
</form>

