
@{
    ViewBag.Title = "ShopDAnalysis";
}
<link href="~/Content/Chart.min.css" rel="stylesheet" />
<h2>ShopDAnalysis</h2>

<input type="button" value="check" id="btn1" />

<canvas id="myChart"></canvas>

@section scripts{

    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        $('#btn1').click(function () {
            $.post('/Analysis/CouponUsage', null, function (data) {
                var name = [], limit = [], change = [], amount = [];
                console.log(data[0].Content);
                console.log(data[0].LimitedAmount);
                for (i = 0; i < data.length; i++) {
                    name[i] = data[i].Content;
                    limit[i] = data[i].LimitedAmount;
                    change[i] = data[i].ExchangedAmount;
                    amount[i] = data[i].UsedAmount;
                }
                console.log(name, limit, change, amount, data);




                var ctx = document.getElementById('myChart');
                var myChart2 = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: ['LimitedAmount', 'ExchangedAmount', 'UsedAmount'],
                        datasets: [{
                            label: data[0].Content,
                            data: [50, data[0].ExchangedAmount, data[0].UsedAmount],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'

                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })








            })
        })




    </script>

}