
@{
    ViewBag.Title = "會員驗證確認";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

@*圖片來源:<a href='https://pngtree.com/so/信封'>信封 png from pngtree.com</a>*@
<div class="row">
    <div class="col-6 ">
        <img src="~/images/envelope letter.png" class="img-fluid p-5" />
    </div>
    <div class="col-6 remind">
        <h1 class="display-4">驗證成功</h1>
        <h4><small class="text-muted">可以進行登入</small></h4>
       
    </div>
</div>
