
@{
    ViewBag.Title = "CouponUsageDisplay";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}

<link href="~/Content/Chart.min.css" rel="stylesheet" />
<h2> 優惠券行銷分析 </h2>


<div class="col-md-8 col-md-offset-2">
    <canvas id="myChart"></canvas>
</div>
<canvas id="myChart"></canvas>

@section scripts{

    <script src="~/Scripts/Chart.min.js"></script>
    <script>

            $.post('/Analysis/CouponUsage', null, function (data) {
                var name = [], limit = [], change = [], amount = [],limitColor=[],changeColor=[],amountColor=[];
                for (i = 0; i < data.length; i++) {
                    name[i] = data[i].Content;
                    limit[i] = data[i].LimitedAmount;
                    change[i] = data[i].ExchangedAmount;
                    amount[i] = data[i].UsedAmount;
                    limitColor.push('#acba9d');
                    changeColor.push('#eed19c');
                    amountColor.push('#e8837e');
                }
                console.log(data);

                var ctx = document.getElementById('myChart');
                var myChart2 = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        //labels: [data[0].Content, data[1].Content, data[2].Content],
                        labels:name,
                        datasets: [
                            {
                                label: ' 最大兌換數 ',
                                //data: [10, data[1].LimitedAmount,8,5],
                                data:limit,
                                backgroundColor: limitColor,
                                borderColor: limitColor,
                                borderWidth: 1
                            },
                            {
                                label: ' 已兌換量 ',
                                //data: [data[0].ExchangedAmount, data[1].ExchangedAmount, data[2].ExchangedAmount],
                                data:change,
                                backgroundColor:changeColor,
                                borderColor:changeColor,
                                borderWidth: 1
                            },
                            {
                                label: ' 已使用數 ',
                                //data: [data[0].UsedAmount, data[1].UsedAmount, data[1].UsedAmount],
                                data: amount,
                                backgroundColor: amountColor,
                                borderColor:amountColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            })





    </script>

}