@using System.Text.RegularExpressions;
@model IEnumerable<TGIS.Models.Shop>

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>Test</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Address
        </td>
    </tr>
}

</table>
