
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>Test</h2>

@section scripts{
    <script>
        var c = console.log;
        $.post("/TableGame/SearchTableGameByName", { name: "all" }, function (data) {
            c(data)
        })
    </script>    
}