<h1>Test</h1>
@section scripts{
    <script>
        //$.post("/Analysis/TableGameTrend", {tableGameIDs : ["T00005", "T00006"]}, function (data) {
        //    console.log(data);
        //})
        $.post("/Analysis/CouponUsage", null, function (data) {
            console.log(data);
        })
    </script>
}
