
@{
    ViewBag.Title = "關於我們";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}
<div class="Aus">
    <h2>關於我們</h2>
    <hr />
    <p>
        我們是勞動力發展屬高屏澎分署、行動商務系統設計與開發第２期的學生。
        <br />
        因緣際會下，一團人掉進了桌遊的深坑，每周一玩成了周末定番。
        <br />
        我們選擇以此作為專題主題，讓小小的休閒娛樂也化為學習路上的養分。
        <br />
        有桌方遊資訊網由此而生。
    </p>
</div>



