@model TGIS.Models.Feedback

@{
    ViewBag.Title = "聯絡我們";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}
    <div class="ml-3 mr-3">
        <h1>聯絡我們</h1>
        <br />
        <p class="h4">
            操作網站上遇到了什麼問題嗎？<br />
            <br />
            請在下方描述您遇到的問題或是任何我們需要改善的地方。(`・ω・´)<br />
            我們會積極受理<s>但消極處理</s>。_(¦3」∠)_<br />
            <br />
            總之，非常感謝您的意見～ &nbsp; (ゝ∀･)
        </p>
        <hr />
    </div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">      
        <div class="form-group">
            <p class="ml-3">你的問題：</p>
            <div class="col-12">
                @Html.TextAreaFor(model => model.Content, 3, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <a href="javascript: history.back();" class="ml-3 btn btn-secondary ">回上一頁</a>
            <input type="submit" value="送出" class="btn btn-info mr-3" />
        </div>
    </div>
}



@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
