
@{
    ViewBag.Title = "ThanksForFeedback";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h2>感謝您的寶貴意見!</h2>
<p>我們將盡快處理您的問題</p>
<p>
    @Html.ActionLink("回首頁", "Index", "Home", null, new { @class="btn btn-info"})
</p>