@model TGIS.Models.Announcement

@{
    ViewBag.Title = "公告資訊";
    Layout = "~/Views/Shared/_LayoutPlayer.cshtml";
}

<h1 class="text-success">
    @Model.Title
    <small class="text-muted h5">@Model.AnnouncedDate</small>
</h1>
<hr />

<p>@Model.Content</p>

@Html.ActionLink("回到公告列表", "AnnouncementIndexForPlayer", null, new { @class = "text-info" })
