@using TGIS.Models
@model IEnumerable<TableGame>
@{

    ViewBag.Title = "店內桌遊管理";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}

<h2 class="text-center">店內桌遊明細表</h2>
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        <table class="table table-sm table-bordered table-hover shadow ">
            <thead class="text-center">
                <tr class="table-primary">
                    <th width="5%" class="align-middle">持有</th>
                    <th width="80%" class="align-middle">桌遊名稱</th>
                    <th width="5%" class="align-middle">是否販售</th>
                    <th width="10%" class="align-middle">價格</th>
                </tr>
            </thead>
            <tbody>
                @foreach (TableGame item in Model)
                {
                    @Html.Action("_GetOneDetail", new { tableGameID = item.ID })
                }
            </tbody>
        </table>
        <br />
        <div class="text-center">
            <input type="submit" class="btn btn-info" value="儲存變更" />
        </div>
    }
</div>
@* 待補上離開未儲存的確認 *@
@*<script>
    var isChange = false;
    $(function () {
        $("input,textarea,select").change(function () {
            isChange = true;
            $(this).addClass("editing");
        });

        $(window).bind('beforeunload', function (e) {
            if (isChange || $(".editing").get().length > 0) {
                return '更改尚未儲存，確定離開？';
            }
        })
    });
    $("input:submit").click(function () {
        $(window).unbind('beforeunload');
    });
</script>*@
