@using TGIS.Models
@model IEnumerable<TableGame>
@{

    ViewBag.Title = "店內桌遊管理";
    Layout = "~/Views/Shared/_LayoutShoperCenter.cshtml";
}

<h2>店內桌遊明細表</h2>
@using (Html.BeginForm())
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>持有</th>
            <th>桌遊名稱</th>
            <th>是否販售</th>
            <th>價格</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TableGame item in Model)
        {
            @Html.Action("_GetOneDetail", new { tableGameID = item.ID, shopID = ViewBag.shopID })
        }
    </tbody>
</table>
<input type="submit" class="btn btn-primary" value="儲存變更" />
<input type="button" class="btn btn-light ml-4" value="不儲存返回" />
}
