
@{
    ViewBag.Title = "ForgetPwdChange";
}

<h2>ForgetPwdChange</h2>
<form method="post" action="~/Login/ForgetPwdChange" class="container">
    <div>
    <input id="Text1" type="hidden" name="fdew" value="@ViewBag.Account" />
    </div>
    <input id="Text0" type="hidden" name="aswe" value="@ViewBag.ID" />
    <h2>變更密碼</h2>
    <div class="form-group">
        <span>新密碼:</span>
    </div>
    <div>
        <input id="ac" type="text" name="newPwd" class="form-control w-25" />
    </div>
    <div class="form-group">
        <span>新密碼確認:</span>
    </div>
    <div>
        <input id="pwd" type="text" name="pwdRepeat" class="form-control w-25" />
    </div>
    <input id="Submit1" type="submit" value="submit" />
    <div class="alert-danger w-25">@ViewBag.Error</div>
</form>

