body {
    background-image: url('../images/bg_wall.png');
    background-size: cover;
}
.dec {
    height: 800px;
    background-image: url('../images/dec.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 160px;
    padding: 140px 600px 480px 190px;
    color: #208AAE;
}