body {
    font-family: 'Noto Sans TC', sans-serif;
}

.headnav {
    background-color: #B1EDE8;
    padding:0px 10px 0px 10px;
}
.footnav {
    background-color: rgba(177,237,232,0.5);
}

.desk {
    background-image: url('../images/bg_desk2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.Frostedglass {
    background-color: rgba(255,255,255,0.3);
    margin: 120px 100px 250px 100px;
}

.OuterBox {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #000000 5px 5px 5px 8px;
    border-radius: 4px;
}

.lightA {
    box-shadow: inset rgba(255,255,255,0.4) 3px 3px 5px 5px;
    padding: 8px;
    border-radius: 5px;
}

.gap {
    background-color: #515050;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: inset #000000 3px 3px 8px 5px;
}

.innerBox {
    background-color: #F9F3F2;
    margin: 5px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: #000000 3px 3px 2px;
}
/* ---------------------------------------------------
    導覽列小選單
----------------------------------------------------- */
.playericon {
    border-radius: 50%;
}

.pmenu {
    margin: 70px 0px 0px 0px;
}
.pmenulist {
    padding-right: 25px;
    padding-left: 0px;
    width:200px;
    font-size: 1.2em;
    background-color: #B1EDE8;
    border: 1px solid #BFD7EA;
}
    .pmenulist ul l {
        padding:8px 0px;
    }

    .pmenulist ul li a {
        color: #208AAE;
        text-decoration-line:underline;
    }
        .pmenulist ul li a:hover {
            color: #84A9C0;
        }
.pmenulist ul li ul {
    background-color: #BFD7EA;
    margin-right:-25px;
    padding-right:25px;
    
}
    .pmenulist ul li ul li{
        padding:8px 0px;
    }


/* ---------------------------------------------------
    bootstrap設計變動
----------------------------------------------------- */

/* ---------------------------------------------------
    view的微調
----------------------------------------------------- */
.info {
    font-size: 1.2em;
    color: #005E28;
}