body {
    font-family: 'Noto Sans TC', sans-serif;
}

.headnav {
    background-color: #B1EDE8;
    padding:0px 10px 0px 10px;
}
.footnav {
    background-color: rgba(177,237,232,0.5);
}

.desk {
    background-image: url('../images/bg_desk2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.Frostedglass {
    background-color: rgba(255,255,255,0.3);
    margin: 120px 100px 250px 100px;
}

.OuterBox {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #000000 5px 5px 5px 8px;
    border-radius: 4px;
}

.lightA {
    box-shadow: inset rgba(255,255,255,0.4) 3px 3px 5px 5px;
    padding: 8px;
    border-radius: 5px;
}

.gap {
    background-color: #515050;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: inset #000000 3px 3px 8px 5px;
}

.innerBox {
    background-color: #F9F3F2;
    margin: 5px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: #000000 3px 3px 2px;
}
/* ---------------------------------------------------
    導覽列小選單
----------------------------------------------------- */
.playericon {
    border-radius: 50%;
}

.pmenu {
    margin: 70px 0px 0px 0px;
}
.pmenulist {
    padding-right: 25px;
    padding-left: 0px;
    width:200px;
    font-size: 1.2em;
    background-color: #B1EDE8;
    border: 1px solid #BFD7EA;
}
    .pmenulist ul l {
        padding:8px 0px;
    }

    .pmenulist ul li a {
        color: #208AAE;
        text-decoration-line:underline;
    }
        .pmenulist ul li a:hover {
            color: #84A9C0;
        }
.pmenulist ul li ul {
    background-color: #BFD7EA;
    margin-right:-25px;
    padding-right:25px;
    
}
    .pmenulist ul li ul li{
        padding:8px 0px;
    }

.border-login {
    border-bottom: #005E28 1px solid;
    border-left: #005E28 1px solid;
    border-right: #005E28 1px solid;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/* ---------------------------------------------------
    bootstrap設計變動
----------------------------------------------------- */
.modal-content {
    background-color: #D6F8D6;
    border: 1px solid rgba(0, 94, 40, 0.2);
    border-radius: 1rem;
}
.modal-header {
    border-bottom: 1px solid #005E28;
    background-color: #7FC6A4;      
}
.modal-footer {
    border-top: none;
    justify-content:center;
    padding-top:0px;
}
/*-----------------------------------------------------*/
.nav-TG {
    border-bottom: 1px solid #005E28;
}

    .nav-TG .nav-item {
        margin-bottom: -1px;
    }

    .nav-TG .nav-link {
        color: #7FC6A4;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

        .nav-TG .nav-link:hover, .nav-tabs .nav-link:focus {
            border-color: #005E28 #005E28 #005E28;
            color: #005E28;
        }

        .nav-TG .nav-link.active,
        .nav-TG .nav-item.show .nav-link {
            color: #005E28;
            background-color: #fff;
            border-color: #005E28 #005E28 #fff;
        }

/*-----------------------------------------------------*/

.badge-outline-primary {
    color: #007bff;
    border-color: #007bff;
}
.badge-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.badge-outline-primary:hover {
    color: #007bff;
    text-decoration: none;
}
.badge-outline-danger:hover {
    color: #dc3545;
    text-decoration: none;
}

/* ---------------------------------------------------
    view的微調
----------------------------------------------------- */
.info {
    font-size: 1.2em;
    color: #005E28;
}
.shopphoto {
    height: 200px;
    width: 200px;
    border: 2px solid #BFD7EA;
    box-shadow: 3px 3px 5px #84A9C0;
    border-radius: 5%;
}
.Frostedglass2 {
    background-color: rgba(255,255,255,0.5);
}


.media a {
    color: #2D739E;
    background-color: transparent;
}

    .media a:hover {
        color: #00465E;
        text-decoration: none;
    }

.nav-SD .nav-link {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

    .nav-SD .nav-link.active,
    .nav-SD .show > .nav-link {
        color: #208AAE;
        background-color: #BFD7EA;
    }

.border-shop {
    border: 2px solid #BFD7EA;
    box-shadow:2px 2px 3px rgba(177,237,232,0.5);
}