#TGSearchResult, #ShopSearchResult {
    position: relative;
}


#TGResultList, #ShopResultList {
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index : 10;
    /*height: 20rem;*/
}

    #TGResultList a, #ShopResultList a {
        display: block;
        border: 1px solid #a5a5a5;
        padding: 0.5rem;
        background-color: #26179ed9;
        color: #ffffff;
        width: 100%;
    }

        #TGResultList a:last-child, #ShopResultList a:last-child {
            display: block;
            border: 1px solid #a5a5a5;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            padding: 0.5rem;
            background-color: #26179ed9;
            color: #ffffff;
            width: 100%;
        }
