@using TGIS.Models;
@{
    ViewBag.Title = "Test";
    Player player = (Player)ViewBag.Player;
    List<string> teamIDs = (List<string>)ViewBag.TeamIDs;
    TGISDBEntities db = new TGISDBEntities();
    var teams = db.Teams;
}
@*
    包含所有聊天室的容器是class = "chatArea"
        單個聊天室外殼需有class="chatBox"，以下兩區塊被包含在其中
            訊息顯示區需有class="msgDisplay"
            訊息輸入區需有class="msgInput"
*@
<style>
    .chatArea {
        position: fixed;
        top: 70px;
        right: 30px;
        z-index: 999;
    }

    .chatBox {
        min-width: 150px;
        max-width: 300px;
        border: none;
        background-color: transparent;
    }

    .msgDisplay {
        overflow-y: scroll;
        height: 300px;
        background-color: white;
    }
    .card-header {
    box-shadow:1px 1px 3px #005E28;
    padding: .25rem 1.00rem;
    
    }
    .card-footer {
    box-shadow:1px 1px 3px #005E28;
    }
    .bg-msg {
        background-color: #C9EAC9;
    }
    .form-control:focus, .btn:focus {
    box-shadow: none;
    border-color: transparent;
}

    .minus {
    }

    .plus {
    }
</style>

<div class="row chatArea">
    @{
        Team team;
        foreach (string id in teamIDs)
        {
            team = teams.Find(id);
            <div class="chatBox card ml-2">
                <div class="card-header d-flex justify-content-between bg-msg">
                    <span class="mt-1">@team.Title</span>
                    <div class="row ml-1">
                        <a data-toggle="collapse" href="#msg_@team.ID" aria-controls="msg_@team.ID" role="button" aria-expanded="false" class="btn text-secondary chatbtn">
                            <div class="btncollapse ">
                                <i class="fas fa-minus"></i>
                            </div>                     
                        </a>    

                    </div>
                </div>
                <div class="collapse" id="msg_@team.ID">
                    <div class="msgDisplay card-body">
                        @* 顯示歷史訊息 *@
                        @foreach (Message m in team.Messages)
                        {
                            <p class="small mb-0">@db.Players.Find(m.Speaker).NickName：</p>
                            <p class="mt-0">@m.Content</p>
                        }
                    </div>
                    <div class="card-footer input-group bg-msg ">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">
                                <i class="far fa-comment-dots"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control msgInput" aria-describedby="btnGroupAddon">
                        @*打字不會換行,不會拉到最底下
                            已結束的團訊息框就不再出現*@
                    </div>
                </div>
            </div>
        }
    }
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
        /*
     *  作法：
     *  登入後依據此玩家的隊伍數量建立訊息窗口
     *  每個窗口都建立各自的websocket
     *  每個輸入框也使用各自的websocket來使用send方法
     */
    var c = console.log;
    //將此玩家的teamIDs(C#)轉換為JS陣列
    var teamIDs = [];
    @foreach(string id in teamIDs)
    {
        @: teamIDs.push("@id");
    }
    //取得所有.chatBox
    var boxes = $(".chatBox");
    for (var i = 0; i < teamIDs.length; i++) {
        //要使用let建立局部變量才不會相互衝突
        let chatBox = boxes.eq(i);
        let url = `ws://localhost:55525/api/TeamChat?userName=@player.NickName&teamID=${teamIDs[i]}`;
        let ws = new WebSocket(url);

        ws.onopen = function (e) {
        }
        ws.onmessage = function (e) {
            var msgDisplay = chatBox.find(".msgDisplay");
            msgDisplay.append(`<p>${e.data}</p>`);
            msgDisplay.scrollTop(msgDisplay.get(0).scrollHeight);
        }

        //在輸入框中按下Enter送出訊息
        chatBox.find(".msgInput").keypress(function (e) {
            if (e.keyCode == 13) {
                //輸入不為空白才送出訊息
                if ($(this).val().trim().length > 0)
                    ws.send($(this).val());
                //清空輸入框
                $(this).val("");
            }
        });
    }

    //點開訊息框時拉至底部
    
    $('.chatbtn').click(function () {
        var box = $(this).parents(".chatBox").find(".msgDisplay");
        //需要有50毫秒的延遲再下拉才有用
        setTimeout(function () {
            box.scrollTop(box.get(0).scrollHeight);
        }, 50)
    });  
</script>
