<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/FrontStyle.css" rel="stylesheet" />
    <link href="~/Content/EntryStyle.css" rel="stylesheet" />
    @*背景圖片來自 <a href="https://pngtree.com/free-backgrounds">pngtree.com</a>*@
</head>
<body class="wall vh-100">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#player" data-toggle="collapse" aria-expanded="false" aria-controls="player">玩家登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#shoper" data-toggle="collapse" aria-expanded="false" aria-controls="shoper">店家登入</a>
            </li>
        </ul>
        <div class="collapse" id="player">
            <div class="">
                @RenderBody()
            </div>
        </div>
        <div class="collapse" id="shoper">
            <div class="">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>

    
    <footer class="navbar navbar-expand-md justify-content-end footnav fixed-bottom">
        <a class="nav-link" href="#">關於我們</a>
        <a class="nav-link" href="#">聯絡我們</a>
    </footer>
</body>
</html>
