@using TGIS.Models
@model IEnumerable<Team>

@{
    ViewBag.Title = "會員中心";
    Layout = "~/Views/Shared/_LayoutPlayerCenter.cshtml";
    Player player = new TGISDBEntities().Players.Find((string)Session["PlayerID"]);
}

        <div class="body-content p-4">

            <div class="row justify-content-between m-2">
                <h3>我開的團</h3>
                <p>@Html.ActionLink("進行開桌", "TeamCreate", "Team", new { @class = "btn btn-info" })</p>
            </div>

            @Html.Action("GetTeamList", new { usage = "Leader" })
            <div class="row justify-content-between m-2">
                <h3>我參與的團</h3>
            </div>
            @Html.Action("GetTeamList", new { usage = "Other" })

        </div>
